* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background--color: #00204e;
    /* Teal-Dark-5, fundo suave */
    --dice--color: #1e4d81;
    /* Teal-Dark-1, verde-escuro */
    --text--color: #ffffff;
    /* Teal-Dark-2, verde-acinzentado */
    --buttons--collors: #1e4d81;
    /* Teal-Dark-4, tom quente para destaque */
    --characters--collors: #1e4d81;
    /* Teal-Dark-3, cor terrosa */
    --mother--results--div: #143e70;
    /* Teal-Dark-5, cor clara para a div mãe */
    --daughter--results--div: #1e4d81;
    /* Teal-Dark-4, div filha em contraste suave */
    --results--players--color--div: #1e4d81;
    /* Teal-Dark-3, separação dos jogadores */
    --increment--collor-button: #5fb346;
    /* Teal-Dark-2, verde escuro para incremento */
    --decrement--collor-button: #b84a4a;
    /* Teal-Dark-1, cor mais escura para decremento */
    --border--collors: #00204e;
    /* Teal-Dark-1, consistente para bordas */
    --hover--buttons: #0a2f5f;
    /* */
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00204e;
    background: var(--background--color);
    color: var(--text--color);
    overflow-x: auto;
}

.scene {
    width: 100vw;
    height: 100vh;
    perspective: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dice3d {
    top: 2em;
    width: 90vmin;
    /* O dado ocupa agora 90% da menor dimensão da tela */
    height: 90vmin;
    position: relative;
    transform-style: preserve-3d;
    animation: rollDice 90s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: antiquewhite;
}

html {
    height: 120em;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #567ebb;
    border: 2px solid #333;
    color: #3d5370;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50vmin;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.face1 {
    transform: rotateY(0deg) translateZ(45vmin);

}

.face2 {
    transform: rotateY(90deg) translateZ(45vmin);
}

.face3 {
    transform: rotateY(180deg) translateZ(45vmin);
}

.face4 {
    transform: rotateY(270deg) translateZ(45vmin);
}

.face5 {
    transform: rotateX(90deg) translateZ(45vmin);
}

.face6 {
    transform: rotateX(-90deg) translateZ(45vmin);
}

@keyframes rollDice {
    0% {
        transform: rotateX(-30deg) rotateY(30deg);
    }

    25% {
        transform: rotateX(30deg) rotateY(60deg);
    }

    50% {
        transform: rotateX(-30deg) rotateY(120deg);
    }

    75% {
        transform: rotateX(30deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(30deg);
    }
}

.overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    display: inline-block;
    background-color: var(--buttons--collors);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.decrease,
.increase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 25px;
}


.decrease {
    background-color: var(--decrement--collor-button);
    color: white;
    border: 2px solid var(--border--collors);
}

.increase {
    background-color: var(--increment--collor-button);
    color: white;
    border: 2px solid var(--border--collors);
}

button:hover {
    background-color: var(--hover--buttons);
}

.secBody {
    overflow: auto;
}

#container,
#characterDiv,
#history {
    width: 90vw;
    max-height: 45em;
    /* Define um limite máximo para a altura */
    overflow-y: auto;
    /* Permite a rolagem dentro do histórico */
    margin: 20px auto;
    padding: 10px 15px;
    background: var(--daughter--results--div);
    border: 1px solid var(--border--collors);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

#character {
    width: 40vh;
    height: 39px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--characters--collors);
    color: var(--text--color);
    border: 1px solid var(--border--collors);
}

#character:hover {
    background-color: var(--hover--buttons);
    cursor: pointer;
}

@media (max-width: 768px) {
    div {
        width: 95%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Labels e inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ---------- Separação -------------- */

/* Estilos de cada dado */
.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dice--color);
    color: var(--text--color);
    border: 2px solid var(--border--collors);
    border-radius: 25px;
    position: relative;
    text-align: center;
    width: 8em;
    height: 8em;
}

#rollDice {
    display: flex;
    width: 100em;
    height: 3em;
    background-color: var(--buttons--collors);
    color: var(--text--color);
    border: 2px solid var(--border--collors);
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 5vh;
}

#rollDice:hover {
    background-color: var(--hover--buttons);
}

/* Animação e tamanho do dado */
.dice.active {
    animation: dice-roll 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
    /* Mais suave */
}

#currentRoll,
#historyList {
    line-height: 1.5;
    color: var(--text--color);
}

/* Lista de histórico */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: var(--daughter--results--div);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    word-break: break-word;
    border: 1px solid var(--border--collors);
}

/* Customizando a barra de rolagem no navegador */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    height: 12px; /* Altura da barra de rolagem para a rolagem horizontal */
}

/* Estilo para o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--mother--results--div); /* Cor de fundo do trilho */
    border-radius: 10px; /* Borda arredondada */
}

/* Estilo para o polegar da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background-color: var(--dice--color); /* Cor do polegar */
    border-radius: 10px; /* Borda arredondada */
    border: 3px solid var(--mother--results--div); /* Borda do polegar */
}

/* Estilo para quando o polegar da barra de rolagem é hover (passando o mouse) */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--increment--collor-button); /* Cor do polegar ao passar o mouse */
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#history {
    height: 50em;
    max-height: 50em;
}


#divResults {
    width: 80vw;
    margin: 20px auto;
    padding: 10px 15px;
    background: var(--mother--results--div);
    border: 1px solid var(--border--collors);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#resultsContainer {
    max-height: 10em;
}   